{% extends 'base.html.twig' %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="main">
<br>
<div class="centre">
<h1><FONT color="white"><u>Administrer les réseaux et l’Internet</u></h1>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="first">
            <p class="text-primary">• Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique) </p>
            
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
            </div>
            <br>

                    <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = 'https://docs.google.com/document/d/1TnJmu0lVs_wgbiEsPd3fgxNQoIjXC4nJOKKrSYXcpMU/edit?usp=sharing';">Pièce justificative</button>
        </div>
        </div>
        <br>
    </div>
    <div class="col-sm-6">
        <div class="first">
            <p class="text-primary">• Comprendre les principes et standards du codage de l’information</p>
                   <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
                                <br>
                                <br>
            <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = '';">Pièce justificative</button>
        </div>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-sm-6">
        <div class="first">
            <p class="text-primary">• Configurer les fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
                     <br><br>           
            <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = 'https://docs.google.com/document/d/1qQdhnFsB5sjQ0ZImPjIHoMzxovjXRM1nu0Ob-2U8PaI/edit?usp=sharing';">Pièce justificative</button>
        </div>
        </div>
    </div> 
        <div class="col-sm-6">
        <div class="first">
            <p class="text-primary"> • Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration etadministration des réseaux et services fournis (DHCP, DNS, ...)</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
               <br>                 
            <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = 'https://docs.google.com/document/d/1lB4RtauR4ZDAHD_8bOqJSmM1MeygIfRIG6oButuQanc/edit?usp=sharing';">Pièce justificative</button>
        </div>
        </div>
    </div>   
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="first">
            <p class="text-primary">• Savoir identifier les dysfonctionnements du réseau local</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
             <br>                 
            <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = '';">Pièce justificative</button>
        </div>
        </div>
        <br>
    </div>
    <div class="col-sm-6">
        <div class="first">
            <p class="text-primary">• Installer un poste client(et le sécuriser: antivirus, parefeu, comptes, ...)</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
                         <br>                 
            <div class="centre">
            <button type="button" class="btn btn-outline-dark"  onclick="window.location.href = 'https://docs.google.com/document/d/1ykyOe3TivZVvvAxFqN4HJSIVbrEXiij-CIXAcGgaGFI/edit?usp=sharing';">Pièce justificative</button>
        </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}