{% extends 'base.html.twig' %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Mon CV{% endblock %}

{% block body %}
<div class="main">
<br>

<h1><FONT color="white"><u>CV de Hugo Vallet</u></h1></div>

<h5><FONT color="white">Etudiant - 18 ans</h5>
<br>
<div class="main">
    <div class="first">
        <h3><u>A propos de moi</u></h3>
        <br>
        <p class="text-primary">Actuellement en 1ère année BUT Réseaux et Télécommunication, je suis une personne motivé avec la capacité de travailler en autonomie et ayant envie d'enrichir mes connaissances</p>
<br>
    </div>
<br>
    <div class="first">
        <h3><u>Mes Coordonnées</u></h3>
        <br>
        <p class="text-primary"> 📞 07.71.87.73.74 <br> ✉️ hvallet3@gmail.com <br> 📍 45 impasse des collines  </p>
    </div>
<br>
    <div class="first">
        <h3><u>Compétences</u></h3>
        <br>
        <p class="text-primary"> Gestion des priorités et gestion du temps <br> Collaboration u sein d'une équipe <br> Maitrise numérique : Solidworks, Visual Studio Code </p>
    </div>
    <br>
        <div class="first">
        <h3><u>Qualités</u></h3>
        <br>
        <p class="text-primary">- A l'écoute <br>- Sérieux <br>- Patient <br>- Autonome <br>- Rigoureux </p>
    </div>
<br>
    <div class="first">
        <h3><u>Formation</u></h3>
        <br>
        <h4><em>Lycée Louis-Armand - Villefranche-sur-Saône</em></h4>
        <p class="text-primary"> <em>2020 - 2021 Baccalauréat technologiques - STI2D | Terminale Option - Innovation technologiques éco-conception</em><br><br>
        - Recherche de solutions techniques innovantes<br>
        - Design / Ergonomie / Créativité<br>
        - Maitrise de SolidWorks<br>
        - éco-conception | Matériaux <br>
        - Construction mécanique <br>
        - Démarche de développement durable<br></p>
        <br>
                <h4><em>Université Jean-Monnet - Roanne</em></h4>
        <p class="text-primary"> <em>2021-2022 1ère Année BUT - Réseaux et Télécommunication</em><br><br>
        Maitrise de logiciels de programmation ( Visual Studio Code, Notepad++, ...)<br>
        Langages différents de programmation (HTML, C, Python, ...)<br>
        Notions de réseaux / Mise en place d'un réseau local<br>

        
    </div>
<br>
    <div class="first">
        <h3><u>Expérience professionnelle</u></h3>
        <br>
        <p class="text-primary"><u> Projets scolaires :</u><br><br> - Effectué un site Web depuis symfony et sans symfony <br> - Mise en place d'un un réseau local  </p>
    </div>
    <br>
</div>


{% endblock %}