{% extends 'base.html.twig' %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Pour en savoir plus{% endblock %}

{% block body %}

<br>

<h1><FONT color="white"><u>En Savoir Plus</u></FONT></h1>
<br><br>
<div class="container">
<div class="row">
    <div class="col-sm-6">
    <div class="content">
        <div class="first">
            <h5><u> Football ⚽</u></h5>
            <br>
            <p class="text-primary">Depuis petit l'âge de 5 ans j'ai commencé le foot qui est devenu un loisir et une passion
                                    qui ne s'arrete pas. Le foot pour moi c'est super important car ça me permet de penser à autre chose.</p>
                                    <br>
            <img src="./img/DSC_0123.JPG" style="width:100%;" border="3px solid black">
            </div>
                                  
            <br>
        </div>
        <br>
    </div>
    <div class="col-sm-6">
        <div class="first">
            <h5><u>L'informatique</u></h5><br>
            <p class="text-primary">L'informatique est devenu un loisir depuis quelques année lorsque j'ai eu mon premier PC que j'ai eu pour jouer 
            au jeux vidéo ce qui est toujours le cas mais c'est avec les jeux vidéo que j'ai commencé a aimé l'informatique.</p>
            <img src="./img/info.jpg" style="width:100%;" border="3px solid black">
        </div>
    </div>
</div>
</div>    



{% endblock %}